*{
  font-family: "Poppins";
}
/* header */
.sticky {
  position: sticky;
  top: 0;
  background-color: #474747;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}


/*footer*/


li{
  margin: 10px ;
  padding: 4px 6px;
  color: #fff; /* Change to your desired color */
  text-decoration: none;
}
.col-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col-contact{
  padding-left: 25px;
}

.text-footer{
 font-weight: 800;
 margin: 15px;
}
.custom-search {
  position: relative;
  width: 300px;
  
}
.custom-search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
.custom-search-botton {
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #CDB4DB;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}
.nav-link{
  color: #fff;
  padding: 8px 0 ;
}

a{
  color: #CF1679;
  text-decoration: none;
  padding: 8px 6px ;
}


/* mission */

img.card-img-top{
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

div.my-5{
  justify-content: center;
  text-align: center;
}



/* popup */
div.modal-header{
  display: none;
  padding-top: 10%;
}

div.modal-header{
  padding-top: 10%;
}

div.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

div.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: none ;
  border-radius: 2rem;
}
div.modal-dialog {
  margin-top: 5%;
}

.modal-body{
  padding-top: 10%;

}

/* déja connecter */

.login_status {
  display: none;
}


.enlarged-icon {
  font-size: 70px;
  color: #CF1679;
  text-align: center;
}

.login_status_1{
  text-align: center;
  width: 390px;
  padding: 30px;
  background-color: #fff;
  margin: 100px auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  border-radius: 30px;
border: #474747 2px;
}


/* menu burger lateral */



/* changer mot de passe */
input#pass1.password , input#pass2.password {
  margin-bottom: 10%;
  width: 70%;
  height: 5%;
  border-radius: 30px;
  background-color: #EBE8ED;
  border: none;

}



/* inscription */
#wpmem_reg{
  width: 390px;
  padding: 30px;
  background-color: #fff;
  margin: 100px auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  border-radius: 30px;
border: #474747 2px;

}


input#first_name , input#last_name , input#user_email, input#username.textbox  {
  margin-bottom: 10%;
  width: 70%;
  height: 5%;
  border-radius: 30px;
  background-color: #EBE8ED;
  border: none;

}



/* connexion */
fieldset{
  justify-content: space-between;
  padding: 15%;
  border: none;
}

#wpmem_login {
  width: 390px;
  padding: 30px;
  background-color: #fff;
  margin: 100px auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
border-radius: 30px;
border: #474747 2px;

}
input.buttons {
  text-align: center;
  height: 5%;
  width: 55%;
  border-radius: 30px;
border-color: #CF1679;
background-color: #FFF;
}

input#log.username , input#pwd.password{
  margin-bottom: 10%;
  width: 70%;
  height: 5%;
  border-radius: 30px;
  background-color: #EBE8ED;
  border: none;

}

/* connexion-inscription*/


#prenom{
  background-color: #EBE8ED;

}

#nom{
  background-color: #EBE8ED;
  border-radius: 30px;
  width: 75%;

}

#email{
  background-color: #EBE8ED;
  border-radius: 30px;
  width: 75%;
}

#password{
  background-color: #EBE8ED;
  border-radius: 30px;
  width: 75%;
}

.login-container{
  width: 390px;
  padding: 30px;
  background-color: #fff;
  margin: 100px auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
border-radius: 30px;
border: #474747 2px;
}



/*fond de page*/
  
body{
  font-family: "Poppins" ;
background-color: #FFEDF8;
}



/* dropdown */

.dropbtn {
background-color: transparent;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(187, 42, 42, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #CDB4DB;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}
#navbarSupportedContent{
  justify-content: end;
  padding-right: 5%;
}



/*navbar*/



ul#menu-header a {
  color:#474747;
}

#logo{
  height: 50px;
  width: 50px;
}

.navbar-brand{
  padding-left: 5%;
}

.container-fluid{
  padding-block: 10px;
}

.accueil-fond{
padding-top: 5%;
padding-bottom: 15%;
}


#wpmem_reg form legend {
  display: none;
}

h2 {
  font-family: "Cooper Std Black";
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-field {
  margin-bottom: 20px;
  justify-content: center;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border: 10px;
  font-size: 14px;
  color: #333;
}

.checkbox {
  margin-bottom: 20px;
}

.checkbox input {
  margin-right: 5px;
}

.checkbox label {
  color: #333;
}

.login-btn {
  background-color: #FFF;
  border-radius: 30px;
  border-color: #EBE8ED;
  width: 30%;
  height: 5%;
  border-style: solid;
}



/* a propos*/

.card2-title{
  padding-bottom: 2%;
}


.card-body-1{
  padding-top: 20%;
  padding-right: 5%;
  margin-right: 10%;
}

.card-text{
  padding-right: 5%;

}

.accueil-fond{
justify-content: space-between; 
}


.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #F4B425;
  --bs-btn-border-color: #F4B425;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f0ca76;
  --bs-btn-hover-border-color: F4B425;
  --bs-btn-focus-shadow-rgb: 66,70,73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: F4B425;
  --bs-btn-active-border-color: F4B425;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: F4B425;
  --bs-btn-disabled-border-color: F4B425;
}


/*police d'écriture*/
h1 {
  font-family: "Cooper Std Black", serif;
  font-weight: 400;
  font-size: 55px;
  font-style: normal;
}

h7{
  font-family: "Poppins";
}


/*Qui sommes-nous*/

.col-md-8{
  text-align: center;
  padding-top: 8%;
}

.img-fluid{
  padding-top: 13%;
}

.container-who{
  background-color:white;
  height: 15%;
  padding-right: 5%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;

}


/* actualités */


.postid-600, .postid-592, .postid-599, .postid-597, .postid-598{
  background-color: #FFF;
}

.autisme-card {
  border: 2px solid #8EDD93; 
  border-radius: 2rem;
  padding : 10px; 
  margin-top : 5%;

}

.anx-card{
  border: 2px solid #E95B96; 
  border-radius: 2rem;
  padding : 10px; 
  margin-top : 5%;
}

.wp-block-button__link{
  background-color: #E95B96;
}


.actus-1{
  padding-top: 5%;
  padding-bottom: 3%;
  padding-left: 10% ;
  padding-right: 10%;
}

.container-actu{
  padding-top: 5%;
  padding-left: 7%;
  padding-bottom: 5%;
  padding-right: 5%;

}

.text-actu{
  text-align: center;
  padding-bottom: 3%;
  padding-left: 6% ;
  padding-right: 6%;
}


/* syndrome*/


.mb-4{
  border-radius: 2rem;
}

.wp-block-embed__wrapper{
 text-align: center;
 padding-top: 3%;
}

.wp-element-caption{
  text-align: center;
  padding-bottom: 3%;
}

.anxiete{
  padding-bottom: 3%;
  padding-left: 6% ;
  padding-right: 6%;
}

.depression{
  padding-bottom: 3%;
  padding-left: 6% ;
  padding-right: 6%;
}

.tdah{
    padding-bottom: 3%;
    padding-left: 6% ;
    padding-right: 6%;
}

.TCA{
  padding-bottom: 3%;
  padding-left: 6% ;
  padding-right: 6%;
}

.autisme{
  padding-bottom: 3%;
  padding-left: 6% ;
  padding-right: 6%;
}

.container-synd{
  padding-left: 5%;
  padding-right: 5%;
}

.card-body{
  margin: auto;
text-align: center ;
}

.btn-info{
  margin: center;
  border-radius: 6rem;
}

.row{
  row-gap: 3rem;
  margin: auto;
}

.row-synd{
  width: 90%;
    margin: auto;
    row-gap: 2rem;
}

.card{
  position: relative;
    display: flex;
    overflow: hidden;
    padding: 2rem;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid red(0, 0, 0, 0.125);
}

.text-synd{
  text-align: center;
  padding-bottom: 3%;
  padding-left: 6% ;
  padding-right: 6%;
}

.page-id-185{
background-color: #FFF6E1;
}  

.page-id-75{
  background-color: #DECCE8;
}

.container-synd{
padding-top: 10%;
padding-bottom: 5%;
}

.wp-block-embed__wrapper{
  justify-content: center;
}

.postid-151 {
  background-color: #FFF6E1;
}





/*navbar*/
#navbarSupportedContent{
  justify-content: end;
  padding-right: 5%;
}

ul#menu-header a {
  color:#474747;
}

#logo{
  height: 50px;
  width: 50px;
}

.navbar-brand{
  padding-left: 5%;
}

.container-fluid{
  padding-block: 10px;
}

.accueil-fond{
padding-top: 1%;
padding-bottom: 5%;
}


/* connexion-inscription*/


#prenom{
  background-color: #EBE8ED;

}

#nom{
  background-color: #EBE8ED;
  border-radius: 30px;
  width: 75%;

}

#email{
  background-color: #EBE8ED;
  border-radius: 30px;
  width: 75%;
}

#password{
  background-color: #EBE8ED;
  border-radius: 30px;
  width: 75%;
}

.login-container{
  width: 390px;
  padding: 30px;
  background-color: #fff;
  margin: 100px auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
border-radius: 30px;
border: #474747 2px;
}

h2 {
  font-family: "Cooper Std Black";
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-field {
  margin-bottom: 20px;
  justify-content: center;
}


.input-field label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border: 10px;
  font-size: 14px;
  color: #333;
}

.checkbox {
  margin-bottom: 20px;
}

.checkbox input {
  margin-right: 5px;
}

.checkbox label {
  color: #333;
}

.login-btn {
  background-color: #FFF;
  border-radius: 30px;
  border-color: EBE8ED;
  width: 30%;
  height: 5%;
}



/* a propos*/
.card-body-1{
  padding-top: 20%;
  padding-right: 5%;
  margin-right: 10%;
}

.card-text{
  padding-right: 5%;

}

.accueil-fond{
  justify-content: space-between;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #F4B425;
  --bs-btn-border-color: #F4B425;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f0ca76;
  --bs-btn-hover-border-color: F4B425;
  --bs-btn-focus-shadow-rgb: 66,70,73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: F4B425;
  --bs-btn-active-border-color: F4B425;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: F4B425;
  --bs-btn-disabled-border-color: F4B425;
}


/*police d'écriture*/
h1 {
  font-family: "Cooper Std Black", serif;
  font-weight: 400;
  font-size: 55px;
  font-style: normal;
}




/*Qui sommes-nous*/
.container-bl{
  background-color:white;
}


/* syndrome*/
.container-synd{
  padding-left: 5%;
  padding-right: 5%;
}

.card-body{
  margin: auto;
text-align: center ;
}

.btn-info{
  margin: center;
  border-radius: 12px;
}

.row{
  row-gap: 3rem;
  margin-bottom: 6%;
}

.row-synd{
  width: 90%;
    margin: auto;
    row-gap: 2rem;
}

.card{
  position: relative;
  border-radius: 2rem;
    display: flex;
    overflow: hidden;
    padding: 2rem;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid red(0, 0, 0, 0.125);
}

.text-synd{
  text-align: center;

}

.page-id-185{
background-color: #FFF6E1;
}  

.container-synd{
padding-top: 5%;
/* padding-left: 150px;
padding-right: 150px; */
}

.wp-block-embed__wrapper{
  justify-content: center;
}

.postid-151 {
  background-color: #FFF6E1;
}
.wp-block-heading {
  margin-bottom: 20px;
}

.page-id-75{
  background-color: #DECCE8;
}

/*footer*/

.cond{
  padding-bottom: 3%;
  padding-left: 6% ;
  padding-right: 6%;
}
.cond h1 {
  text-align: center;
  padding: 5%;

}
.custom-search {
  position: relative;
  width: 300px;
  
}
.custom-search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
.custom-search-botton {
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #CDB4DB;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}

/*page rdv*/
.rdv{
    font-family: 'Poppins';
    background: #fff;
    border:#8EDD93 4px solid;
    width: 70%;
    min-height: 1300px;
    border-radius: 35px;
    padding: 50px;
    margin:auto;
  

}


.datetimepicker {
	display: inline-flex;
	align-items: center;
	border: #8EDD93 3px solid;
	border-radius: 12px;
  display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin-bottom: 50px;
  margin-top: 50px;
	font-family: "Poppins", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #474747;
}


.input {
		font: inherit;
		color: inherit;
		appearance: none;
		outline: none;
		border: none;
		background-color: transparent;
		
		&[type=date] {
			width: 10rem;
			padding: .25rem 0 .25rem .5rem;
      border: none;
			border-right-width: 0;
		}
		
		&[type=time] {
			width: 5.5rem;
			padding: .25rem .5rem .25rem 0;
			border-left-width: 0;
		}
	}


.btn-success {
    color: #fff;
    background-color: #8edd93;
    border-color: #8edd93;
    border-radius: 12px;
}
.wp-block-column {
  justify-content: center;
}

/* page results */


#chart {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.bi-arrow-right{
  color: #fff;
 }

.pgresults {
  font-family: 'Poppins';
  background: #fff;
  border: #CF1679 4px solid;
  width: 70%;
  min-height: 2000px;
  border-radius: 35px;
  padding: 30px;
  margin: auto;
}
.body-card{
  text-align: left;
}
.card-img-top-r{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.rtitle{
  color:#CF1679;
  margin-bottom: 15px;
  font-size: 30px;
  text-align: center;
}
.res{
  font-size: 14px;
  font-weight: 550;
}
.pgresults a{
  color: #F4B425;
}
.pgresults p {
  font-size: 14px;
  margin-bottom: 40px;
}
.title-res {
  color: #CF1679;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}
.pgresults .card{
  max-height:200px
}

.pgresults .row{
  align-items: center;
}
.btn-secondary, .btn-primary, .btn-info, .btn-success, .btn-danger, .btn-warning {
  border:none;
  border-radius: 12px;
  padding: 10px;
}
.containerr{
  padding: 0;
}



/*page profil*/

.profil{
  background: #CDB4DB;

    width: 70%;
    height: 95%;
    border-radius: 35px;
    padding: 100px;
    margin-top: 50px;
    margin-right: 100px;
    float: right;

}


.sidenavP {
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 170px;
  left: 25px;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenavP a {
  padding: 21px 13px 9px 45px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 650;
  color: #474747;
  display: block;
}

.sidenavP a:hover {
  color: #59C3CD;
}
.sidenavP .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.custom-search {
  position: relative;
  width: 300px;
  
}
.name {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 20px ; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;

}
.custom-search-botton {
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #CDB4DB;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}
.blobprof{
  align-items: center;
}
label,input{
  display:flex;
  flex-direction:row;
}
.phone {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;

}
.phonepre {
  position: absolute;
  height: 3%;
  width: 3%;
  border: 0;
  background: #CDB4DB;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}
#sauv{
  background: #59C3CD;
  color: #fff;
  font-weight: 600;
  width: 200px;
  border: 0;
  padding: 10px;
  margin: 50px auto 0;
  border-radius: 18px;
  cursor: pointer;
display:block;
} 

h3{
  font-size: 20px;
  font-weight: 600;
}