

@media only screen and (max-width: 600px) {
    /* Adjust font size for smaller screens */
    body {
        font-size: 14px;
    }

    /* Adjust spacing for smaller screens */
    .welcome-screen,
    .question-screen,
    .end-screen {
        padding: 20px;
    }

    .app {
        padding: 20px;
    }

    /* Additional responsive styles as needed */
}

.welcome-screen,
.question-screen,
.end-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

    
}
.question-screen  {
    background-image: url(assets/img/bgquiz.png);
    background-size: cover;
    background-position-x: center;
}
.question-screen ul {
    list-style-type: none;
    align-items: center;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}

.welcome-screen {
    flex-direction: column;  
    background-image: url(assets/img/background.png);
    background-size: cover;
    background-position-x: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.end-screen  {
    background-image: url(assets/img/bgquiz.png);
    background-size: cover;
    background-position-x: center;

}

.question-screen,
.end-screen {
    display: none;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #FFEDF8;
}
.app {
    background: #CDB4DB;
    width: 90%;
    max-width: 800px;
    min-height: 500px;
    border-radius: 30px;
    padding: 50px;
    justify-content: center;
    margin: auto; 
  
}
@media only screen and (max-width: 600px) {
    .app {
        width: 95%; /* Take the full width of the screen */
        padding: 20px; /* Adjust padding for smaller screens */
    }
}
.app h2{
    font-weight:650 ;
    font-size: 20px;
    color: #474747;
    border-bottom: 2px solid #474747;
    font-family: 'Poppins';
}


/*--bs-btn-color: #474747;
    --bs-btn-bg: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #AF76CE;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #AF76CE; */

.app .reponse li{
 
  background-color: #fff;
  color: #474747;
    font-weight: 400;
    height: 55px;
    border: none;
    padding: 10px;
    margin: 15px ;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
   align-items: center;
    
  }
 
.reponse{
    align-items: center;
    margin: 38px 80px;
}

 #start{
    background: #CF1679;
    color: #fff;
    font-weight: 600;
    width: 200px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 18px;
    cursor: pointer;
display:block;
} 
#resultats{
    background: #CF1679;
    color: #fff;
    font-weight: 600;
    width: 200px;
    border: 0;
    padding: 10px;
    margin: 40px auto 0;
    border-radius: 18px;
    cursor: pointer;
    display: block;
} 
p{
    font-size: 17px;
    padding: 35px;
    text-align: center;
}
  
h1{
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}
p{
    position: fixed; 
    bottom: 0;  
    text-align: center;
    font-size: 14px;
    padding : 35px 250px
}
.progress-bar {
    width: 100%;
    height: 20px; /* Adjust the height as needed */
    background-color: #eee; /* Set the background color */
    border-radius: 12px;
}

.progress {
    height: 100%;
    background-color: #CF1679; /* Set the progress color */
    border-radius: 12px;
}
h4{
    color: #CF1679;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;

}

.diag{
    display: flex;
    justify-content: center;
    font-size: 20px; 
    font-weight: 700;
    align-items: center;
    margin: 20px 0;
}
#previous {
    background: #CF1679;
    color: #fff;
    width: 100px;
    border: 0;
    padding: 10px;
    border-radius: 18px;
    cursor: pointer;
display:flex;
justify-content: center;
align-items: center;
margin: 10px 220px;
}
#resultChart{
    width: 200px;
    height: 100px;
} 