.welcome-screen,
.question-screen,
.end-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

    
}
.question-screen ul {
    list-style-type: none;
    align-items: center;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}

.welcome-screen {
    flex-direction: column;  
    background-image: url(assets/img/background.png);
    background-size: cover;
    background-position-x: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question-screen,
.end-screen {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #FFEDF8;
}
.app {
    background: #CDB4DB;
    width: 90%;
    max-width: 800px;
    height: 1000px;
    border-radius: 30px;
    padding: 50px;
    justify-content: center;
    margin: auto; 
    margin-top: 50px;
}
.app h2{
    font-weight:650 ;
    font-size: 20px;
    color: #474747;
    border-bottom: 2px solid #474747;
    font-family: 'Poppins';
}


/*--bs-btn-color: #474747;
    --bs-btn-bg: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #AF76CE;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #AF76CE; */

.app .reponse li{
 
  background-color: #fff;
  color: #474747;
    font-weight: 400;
    height: 55px;
    border: none;
    padding: 10px;
    margin: 15px ;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
   align-items: center;
    
  }
 
.reponse{
    align-items: center;
    margin: 75px;
}

 #start{
    background: #CF1679;
    color: #fff;
    font-weight: 600;
    width: 200px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 18px;
    cursor: pointer;
display:block;
} 
#resultats{
    background: #CF1679;
    color: #fff;
    font-weight: 600;
    width: 200px;
    border: 0;
    padding: 10px;
    margin: 100px auto 0;
    border-radius: 18px;
    cursor: pointer;
    display: block;
} 
p{
    font-size: 17px;
    padding: 35px;
    text-align: center;
}
  
h1{
    font-size: 30px;
    font-weight: bold;
}